@import "tailwindcss";

@theme {
  --color-brand: #0f172a;
}

/* Ocultar barra de desplazamiento manteniendo funcionalidad */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  background: transparent;
}

/* Clase utilitaria explícita */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ajustes de impresión */
@media print {
  @page { margin: 0; size: auto; }
  body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}

/* Utilidades para el diseño responsive */
@layer utilities {
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
  
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
